page-maps {
        #wrapper {
          position: relative;
          width: 100%;
          height: 100%;
        }

        .scroll-content {
          height: 100%
        }

        .map-bottom {
          position: absolute;
          bottom: 60px;
          width: 100%;
          z-index: 99;
        }

        .request-controls {
          text-align: center;
        }

        #map {
          width: 100%;
          height: 100%;
        }

        ion-item {
          border-left: 0.55px solid #c8c7cc;
          border-right: 0.55px solid #c8c7cc;
        }

}
